.main_container {
  display: flex;
  width: 100%;
  background: radial-gradient(
    123.22% 129.67% at 100.89% -5.6%,
    #ffffff 0%,
    #fefeff 100%
  );
}
.content_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
* {
  margin-top: 0;
  padding: 0;
}

/*------Navigator------------------*/
.logoImg {
  margin: 70px 110px 0px 35px;
}
.navigator {
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 246, 240, 0.38) 0%,
    rgba(251, 232, 233, 0.31) 57.44%,
    rgba(252, 252, 255, 0.57) 100%
  );
}
.sidebar {
  margin: 147px 0px 0px 55px;
}
h5 {
  font-family: Helvetica Neue;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: left;

  margin: 0px 0px 21px 52px;
}
p {
  margin: 0;
}
li,
ul {
  margin: 0;
  padding-left: 0;
  padding-bottom: 20px;
  list-style-type: none;
}

/*------Header------------------*/
.head_container {
  display: flex;

  margin: 38px 38px 27px 52px;
}

.left_header {
}
.dashboard {
  text-decoration: none;
  color: #4c4c66;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  padding-bottom: 60px;
}
.text_under_dashboard {
  padding-top: 6px;
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}
.right_header {
  display: inline-flex;
  flex-grow: 3;
  justify-content: flex-end;
  margin-top: 0px;
  padding-top: 0px;
}
.inline {
  display: flex;
  align-items: flex-start;
}
.right_head_margin {
  margin-right: 25px;
}

.pix_war {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
.notification-button {
  padding-left: 10px;
  padding-top: 6px;
  width: 45px;
  height: 25px;
  background: linear-gradient(136.67deg, #ff409a 8.34%, #c438ef 95.26%);
  mix-blend-mode: normal;
  opacity: 0.8;
  box-shadow: 0px 5px 34px rgba(186, 19, 88, 0.42);
  border-radius: 14px;
}

.wrapper {
  display: flex;
  overflow: hidden;
  min-height: 100%;
  box-sizing: content-box;
}
/*-----wallets---------------*/
.wallets_container {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0px 52px;
}
.wallet_item {
  mix-blend-mode: normal;
  /* Dark / 3 */
  border: 1px solid #e2e2e8;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 20px;
  display: flex;
  height: 74px;
  width: 190px;
}
.wallet_item_addCurrency {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 74px;
  width: 190px;
  left: 994px;
  top: 159px;
  border-radius: 10px;
  mix-blend-mode: normal;
  border: 1px dashed #e2e2e8;
  box-sizing: border-box;
}
.crypto_logo {
  padding: 28px 0px 0px 20px;
  width: 30px;
  height: 34px;
}
.crypto_graph {
}
.crypto_info {
  max-width: fit-content;
  max-height: fit-content;
  margin-top: 13px;
  margin-left: 42px;
}

.price {
  padding-right: 12px;
}

.rate {
  font-family: Helvetica Neue;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: right;
  color: #4c4c66;
}

.name {
  font-family: Helvetica Neue;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: right;
  color: #4c4c66;
}
.graph1 {
  padding-right: 11px;
}
.percent {
  width: 39px;
  height: 13px;
  font-family: Helvetica Neue;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: #4c4c66;
}
.checkedWallet {
  background-color: #53b9ea;
  color: white;
}
.redText {
  color: #e3507a;
}
.greenText {
  color: #2bb596;
}

.addCurrency_text {
  font-family: Helvetica Neue;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: right;
  mix-blend-mode: normal;
  opacity: 0.2;
}

/*-------Graph-----------------------*/

.Graph_container {
  box-sizing: border-box;
  margin: 49px 0px 0px 52px;
  display: flex;
  flex-wrap: wrap;
}
ul.vr li {
  padding-right: 15px;
  font-family: Helvetica Neue;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4285714030265808px;
  text-align: right;
}

ul.hr li {
  display: inline;
  font-family: Helvetica Neue;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.4285714030265808px;
  text-align: center;
  padding-right: 60px;
}
.time {
  margin-left: 45px;
}

.img_graph {
  max-width: 890px;
  max-height: 390px;
  margin: 49px 0px 0px 52px;
}
/*--- Bottom Block--------------------------------*/
.bottom_Block {
  display: flex;
  flex-wrap: wrap;
}

/*---------Trend--------------------------*/
.trend_container {
  width: 65%;

  box-sizing: border-box;
  margin: 30px 0px 0px 52px;
  display: flex;
  flex-wrap: wrap;
}
.trend_item {
  margin: 0px 40px 0px 0px;
}
.course {
  margin: 15px 0px 0px 20px;
  display: flex;
  align-items: center;
}
.arrow_margin {
  margin: 0px 10px 0px 10px;
}
.trend_price {
  width: 52px;
  height: 20px;
  margin: 13px 0px 4px 20px;
}
.trend_price_text {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #4c4c66;
  mix-blend-mode: normal;
  opacity: 0.7;
  font-weight: 400;
}
.path {
  height: 34px;
  width: 195px;
  margin-bottom: 30px;
}
.percent_trend {
  margin: 0px 17px 10px 29px;
}
a:hover {
  color: #2bb596;
}
.trend_course_text {
  font-family: Helvetica Neue;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: right;
  mix-blend-mode: normal;
  opacity: 0.4;
}

/*---History--------------------------------*/
.history_container {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.sectionTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.history {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #4c4c66;
}
.seeAll {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #3279cc;
}

.list {
}
.historyNameText {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.3px;
  color: #7877b1;
  padding-right: 23px;
}

.historyDate {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.392857px;

  /* Dark / 2 */
  color: #6f6c99;

  opacity: 0.5;
}
.paddingright1 {
  margin-right: 13px;
}

.list li {
  list-style-type: none;
  padding-bottom: 23px;
}
.list ul {
  padding: 0;
}
.round {
  border: 1px solid #e2e2e8;
  border-radius: 10px;
}
